/* Applied for all pages. */

html {
    background-color: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
}

ul.nav {
    width: 100%;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E6E6E6;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: #cc3300;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 18px;
}

ul.nav li a:hover {
    color: #4db8ff; 
}

/* Index Page */

#header {
    float: right;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #CCCCCC;
    color: #262626;
}

#main {
    float: left;
    width: 75%;
    height: 400px;
    text-align: center;
    background-color: #e6e6e6;
    color: #262626;
}

#aside {
    float: left;
    width: 25%;
    height: 400px;
    text-align: center;
    background-color: #bfbfbf;
    color: #262626;
}

#footer {
    clear: both;
    float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #303030;
    color: #262626;
}

/* Culture Page */

#culture {
    float: left;
    width: 100%;
    height: 1400px;
    text-align: center;
    background-color: #e6e6e6;
    color: #262626;
}

/* Cuisine Page */

#cuisine {
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #f2f2f2;
    color: #262626;
}

#section {
    float: left;
    width: 50%;
    height: 300px;
    text-align: center;
    background-color: #bfbfbf;
}

/* Contact Page */

#contact {
    float: left;
    width: 100%;
    height: 1500px;
    text-align: center;
    background-color: #303030;
    color: #262626;
}