/* Applied for all pages. */

html {
    background-color: #FFFFFF; /* White */
}

* {
    margin: 0px;
    padding: 0px;
}

/* Fonts from Google Fonts */

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Playfair+Display|Quicksand|Roboto|Sansita');

ul.nav {
    width: 100%;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: #FFFFFF; /* White */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: #4db8ff; /* Blue */
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
	font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

ul.nav li a:hover {
    color: #bcbcbc;
}

/* Unvisited link. */
a:link {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; /* No underline */
}

/* Visited link. */
a:visited {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Mouse over link. */
a:hover {
    color: #4db8ff ; /* Blue */
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.center {
    position: relative;
}

p.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #404040;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* #cc3300; Red */
/* Index Page */

#header {
    float: right;
    width: 100%;
    height: 600px;
    margin-top: 53px;
    text-align: center;
    background-color: #e6e6e6;
    color: #262626;
}

#main {
    float: left;
    width: 75%;
    height: 400px;
    text-align: center;
    background-color: #f2f2f2;
    color: #262626;
}

#aside {
    float: left;
    width: 25%;
    height: 400px;
    text-align: center;
    background-color: #f2f2f2;
    color: #262626;
}

#footer {
    clear: both;
    float: left;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #404040;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/* Culture Page */

#culture {
    float: left;
    width: 100%;
    height: 800px;
    margin-top: 53px;
    text-align: center;
    background-color: #f2f2f2;
    color: #262626;
}

/* Cookery Page */

#cookeryl {
    float: left;
    width: 50%;
    height: 600px;
    margin-top: 53px;
    background-color: #FFFFFF;
    color: #262626;
}

#cookeryr {
    float: left;
    width: 50%;
    height: 600px;
    margin-top: 53px;
    background-color: #FFFFFF;
    color: #262626;
}

/* Recipe Layout */

#video {
    float: left;
    width: 70%;
    height: 500px;
    margin-top: 53px;
    text-align: center;
    background-color: #2b2a2a;
}

#ingredients {
    float: left;
    width: 30%;
    height: 400px;
    margin-top: 53px;
    text-align: center;
    background-color: #e6e6e6;
}

#ptime {
    float: left;
    width: 10%;
    height: 100px;
    text-align: center;
    background-color: #d9d9d9;
}

#ctime {
    float: left;
    width: 10%;
    height: 100px;
    text-align: center;
    background-color: #d9d9d9;
}

#ttime {
    float: left;
    width: 10%;
    height: 100px;
    text-align: center;
    background-color: #d9d9d9;
}

#directions {
    clear: both;
    float: left;
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #f2f2f2;
}

/* About Page */

#about {
    float: left;
    width: 100%;
    height: 600px;
    margin-top: 53px;
    text-align: center;
    background-color: #303030;
    color: #262626;
}